body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    margin: 20px;
}

#dropdown-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}

#dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

#dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-container:hover #dropdown-content {
    display: block;
}

.image-container {
    display: none;
}

img {
    max-width: 200px;
    height: auto;
}
